@use '../abstracts/variables' as *;

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $login-gradient;

  .login-card {
    max-width: $login-card-max-width;
    width: 100%;
  }
}
